<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Email</title>
    <style>
      body { background-color: #cbcbcb; padding: 30px; font-family: Arial,
      Helvetica, sans-serif; } .container { background-color: #eee; padding:
      10px; border-radius: 3px; } .color-danger { color: red; } .color-white {
      color: #fff; } .flex-center { display: flex; justify-content: center;
      align-items: center; } .logo { padding: 5px; background-color: #999;
      border-radius: .3rem; } .my { margin: .6rem 0 0 0;} .noreply{margin: 1rem
      0 .2rem 0;} .code{cursor: pointer; margin: .3rem 0;} .loginCode{color:
      #3a3a3a; word-spacing: .5rem;}
    </style>
  </head>
  <body>
    <div class="container">
      <div class="logo">
        <h1 class="color-white">AUTH:A</h1>
      </div>
      <h2>Hello, <span class="color-danger">{{name}}</span></h2>
      <p>Please use 6 digit code to login in your account.</p>
      <p>This code is valid for 10 minute.</p>
      <div class="code"><p>Login code:</p>
        <h2>{{link}}</h2>
        <p class="color-danger">If you did not initiate this login, please reset
          your password.</p></div>
      <div class="my">
        <p>Regards...</p>
        <p><b class="color-danger">AUTH:A</b> Team</p>
      </div>
      <div class="noreply">
        noreply@sikkul.com
      </div>
    </div>
  </body>
</html>